[Unit]
Description=Timer Notification: %i

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=/usr/bin/sh -c '\
  msg=$(awk -F: -v id="%i" '\''$1 == id { print $2 }'\'' \
    "$HOME/.config/timer-notify/active-timers"); \
  msg=${msg//\\:/\:}; \
  /usr/bin/notify-send "Timer Complete" "$msg"; \
  /usr/bin/paplay "$HOME/.config/scripts/timer-notify/mob.elderguardian.curse.wav"\
'
