[Unit]
Description=Timer Notification: %i

[Service]
Type=oneshot
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
ExecStart=/usr/bin/sh -c '\
  msg=$(grep "^%i:" "$HOME/.config/timer-notify/active-timers" | cut -d: -f2-); \
  /usr/bin/notify-send "Timer Complete" "$msg" && \
  /usr/bin/paplay "$HOME/.config/scripts/timer-notify/mob.elderguardian.curse.wav"\
'
